footer
	.container.text-center
		p.pull-left © 2021 Sink or be Sunk, Inc. All Rights Reserved
		//- TODO: NEED TO UPDATE THIS FOR PROJECT REPO ONCE IT GOES PUBLIC
		a.github-button.float-right(href="https://github.com/microsoft/typescript-node-starter", data-icon="octicon-star", data-show-count="true", aria-label="Star microsoft/typescript-node-starter on GitHub") Star
