<dl class="form-group">
	<dt><label for="displayName">Display Name</label></dt>
	<dd>
		<input
			class="form-control"
			type="text"
			value="<%- account.displayName %>"
			name="displayName"
			placeholder="Enter Display Name"
			required
		/>
	</dd>
</dl>
<dl class="form-group">
	<dt><label for="email">Email</label></dt>
	<dd>
		<input
			class="form-control"
			type="text"
			value="<%- account.email %>"
			type="email"
			name="email"
			placeholder="Enter Email"
			required
		/>
	</dd>
</dl>
