<h2>Welcome <%- account.displayName %></h2>
<form action="/account/<%= account.id %>?_method=PUT" method="POST">
	<%- include('_common_fields.ejs') %>
	<button type="submit" class="btn-primary btn">Update Profile</button>
</form>
