doctype html
html(lang='')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{title} - Sink or be Sunk
		meta(name='description', content='')
		meta(name='theme-color' content='#4DA5F4')
		link(rel='stylesheet', href='/css/main.css')
		link(rel="icon" type="image/ico" href="/images/favicon.ico")
		//- Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-00VHHSZZ10")
		script.
			const host = window.location.hostname;
			if (host != "localhost") {
				console.warn("Collecting Google Analytics Data");
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag("js", new Date());

				gtag("config", "G-00VHHSZZ10");
			}

	body
		script(src='/lib/jquery-3.1.1.min.js')
		script(src='/lib/bootstrap.min.js')
		script(async defer src="https://buttons.github.io/buttons.js")

		include partials/header

		.container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3
			include partials/flash
			block content

		include partials/footer

