extends ../layout

block content
	h1 Sink or be Sunk 2D Gameplay
	.row.form-group
		label.col-sm-2 Game ID
		input.col-sm-6(type="text",id="game_id", placeholder="Enter Game ID")
	.row.form-group
		label.col-sm-2 New Game
		button.btn.col-sm-6(type="button",onclick='game.sendNewGame()') Create New Game
	.row.form-group
		label.col-sm-2 Ready Up
		button.btn.col-sm-6(type="button",onclick='game.sendShipPositions()') Position Ships/Ready Up
	.row.form-group
		label.col-sm-2 Attack Col
		input.col-sm-2(type="text",id="attack_col", placeholder="Enter Col")
		label.col-sm-2 Attack Row
		input.col-sm-2(type="text",id="attack_row", placeholder="Enter Row")
	.row.form-group
		label.col-sm-2 Attack
		button.btn.col-sm-6(type="button",onclick='game.sendAttack()') Send Attack
	
	script(src="/js/GameSocket.js")
	script(src="/js/Game2d.js")
	script.
		const socket = new GameSocket("#{user.username}");
		const game = new Game2D(socket);

	//- Comment here to fix Pug Lint Error
		
