extends ../layout

block content
	h1 2D Gameplay
	.board
		-var grid = 8;
		-var size = 50;
		h2 Position Board
		.container(id="position-board")
			.boat(id="boat2")
			.boat(id="boat3")
			.boat(id="boat4")
			.boat(id="boat5")
			each x in [0, 1, 2, 3, 4, 5, 6, 7]
				each y in [0, 1, 2, 3, 4, 5, 6, 7]
					.cell-clear(style="top:"+y*size +"px;left:"+x*size + "px")
			
		
		h2 Attack Board
		.container(id="attack-board")
			each x in [0, 1, 2, 3, 4, 5, 6, 7]
				each y in [0, 1, 2, 3, 4, 5, 6, 7]
					.cell-clear(style="top:"+y*size +"px;left:"+x*size + "px")

	link(rel='stylesheet',type="text/css", href='/css/game2D.css')
	script(src="/lib/TweenMax.min.js")
	script(src="/lib/Draggable.min.js")
	script(src="/js/GameVisuals2D.js")
	script.
		const visuals = new GameVisuals2D(Draggable);
