doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title #{title} - Sink or be Sunk
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet',type="text/css", href='/css/game.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&amp;display=swap")
	body
		.game-container(id="game-container")
			.hud-container(id="hud-container")
		script(src="/js/main.js")
		script(src="/js/_snowpack/pkg/three.js")

