// body {
//   /* margin: 0; */
//   padding: 100px;
//   position: relative;
// }

.board-container {
  height: 400px;
  width: 400px;
  position: relative;
}

.boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boat {
  position: absolute;
}

.patrol {
  fill: rgb(215, 62, 90);
}
#patrol_h {
  height: 50px;
  width: 100px;
}
#patrol_v {
  height: 100px;
  width: 50px;
}

.submarine {
  fill: rgb(162, 18, 162);
}
#submarine_h {
  height: 50px;
  width: 150px;
}
#submarine_v {
  height: 150px;
  width: 50px;
}

.battleship {
  fill: hsl(240, 70%, 58%);
}
#battleship_v {
  width: 50px;
  height: 200px;
}
#battleship_h {
  height: 50px;
  width: 200px;
}

.carrier {
  fill: hsl(144, 76%, 31%);
}
#carrier_h {
  width: 250px;
  height: 50px;
}

.grid-cell-clear {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: white;
}

.grid-cell-hit {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: hsl(0, 100%, 50%, 50%);
  z-index: 1;
}

.grid-cell-sunk {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: hsl(39, 100%, 50%, 50%);
  z-index: 1;
}

.grid-cell-miss {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: hsl(240, 100%, 50%, 50%);
  z-index: 1;
}

.grid-cell-full {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: hsl(120, 100%, 25%, 50%);
}
