// body {
//   /* margin: 0; */
//   padding: 100px;
//   position: relative;
// }

.board-container {
  height: 400px;
  width: 400px;
  position: relative;
}

.boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boat {
  position: absolute;
}

#boat2 {
  height: 50px;
  width: 100px;
  background: green;
}

#boat3 {
  height: 50px;
  width: 150px;
  background: purple;
}

.battleship {
  fill: hsl(240, 50%, 70%);
}
#battleship_v {
  width: 50px;
  height: 200px;
}
#battleship_h {
  height: 50px;
  width: 200px;
}

#boat5 {
  height: 200px;
  width: 50px;
  fill: hsl(300, 80%, 50%);
}

.grid-cell-clear {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: white;
}

.grid-cell-hit {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: red;
  z-index: 1;
}

.grid-cell-sunk {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: orange;
  z-index: 1;
}

.grid-cell-miss {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: blue;
  z-index: 1;
}

.grid-cell-full {
  box-sizing: content-box;
  position: absolute;
  border: 1px solid #444;
  width: 49px;
  height: 49px;
  background-color: green;
}
