*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

.game {
	cursor: crosshair;
}

.menu-icon,
.arrow-up,
.arrow-down {
	stroke: black;
	stroke-linecap: round;
	position: absolute;
	fill: none;

	:hover {
		stroke-opacity: 0.5;
	}
}

.arrow-up,
.arrow-down {
	stroke-opacity: 0.3;
	stroke-width: 15;
	width: 300px;
}

.menu-icon {
	stroke-opacity: 0.5;
	width: 40px;
	stroke-width: 3;
}
