*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

.game {
	cursor: crosshair;
}

.arrow-up,
.arrow-down {
	stroke: black;
	stroke-linecap: round;
	position: absolute;
	fill: none;

	:hover {
		stroke-opacity: 0.5;
	}
}

.arrow-up,
.arrow-down {
	stroke-opacity: 0.3;
	stroke-width: 15;
	width: 300px;
}

.menu-container {
	top: 10px;
	left: 10px;
	fill: none;
	width: 40px;
	position: absolute;

	:hover {
		.menu-background {
			fill-opacity: 0.75;
		}
	}

	.menu-icon {
		stroke: white;
		stroke-opacity: 0.75;
		stroke-width: 3;
	}

	.menu-background {
		fill: black;
		fill-opacity: 0.65;
	}
}
