*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

.game {
	cursor: crosshair;
}

#arrow-up,
#arrow-down {
	stroke: black;
	stroke-opacity: 0.3;
	stroke-width: 15;
	width: 300px;

	:hover {
		stroke-opacity: 0.5;
	}
}
